//eysa.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
registry=https://eysa.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.926d788f-ed2a-4d45-9133-852c32cfab9f/contents/release/npm/
omit-lockfile-registry-resolved=true
